amqp==1.4.6
anyjson==0.3.3
appnope==0.1.0
billiard==3.3.0.20
celery==3.1.18
decorator==4.0.2
dj-database-url==0.3.0
Django==1.8.4
django-celery==3.1.16
django-dirtyfields==0.7
gnureadline==6.3.3
gunicorn==19.3.0
-e git+https://github.com/drinks/herokal-settings.git@2bf16bfcc9e7805166f0617e73d5320b18aee50e#egg=herokal_settings-dev
httplib2==0.9.1
ipython==4.0.0
ipython-genutils==0.1.0
kombu==3.0.26
path.py==8.1
pexpect==3.3
pickleshare==0.5
psycopg2==2.6.1
python-postmark==0.4.7
pytz==2015.4
redis==2.10.3
requests==2.7.0
simplegeneric==0.8.1
traitlets==4.0.0
wheel==0.24.0
