/* 
 * --- STATUS ROWS ----
 */	
.status-dot {
	height: 6px;
	width: 6px;
	border-radius: 50%;
	float: left;
	margin: 7px 10px;
}

.status-row--up .status-dot {
	border: 1px solid green;
	background-color: #009400;
}

/* 
 * --- GROUP STATUS ROWS ----
 */

.container--endpoints {
    padding-top: 10px;
}

.endpoint {
	text-decoration: none;
	color: #222;
	padding: 20px 0;
	border-radius: 1px;
}
.endpoint:hover {
	background-color: rgb(252, 252, 252);
	cursor: pointer;
}
.endpoint.endpoint--down {
	/* background-color: #ed174c; */
}
.endpoint.endpoint--down:hover {
	/* background-color: #CA0E3D; */
}
.endpoint__title {
	font-weight: 600;
}
.endpoint__pinged-date {
	float: right;
    font-weight: 300;
	text-transform: capitalize;
}

.status-row--down .status-dot {
    background-color: #FF1010;
    border: 1px solid red;
}

.endpoint {
    display: table;
    width: 100%;
    border-bottom: 1px solid rgb(236, 236, 236);
}

.endpoint-cell span {font-weight: bold;}

.endpoint-cell {
    display: table-cell;
    width: 20%;
    float: right;
    text-align: right;
    line-height: 1.4em;
}

span.endpoint-cell__subhead {
    font-weight: 300;
    font-size: 0.8em;
}

.endpoint-cell.endpoint-cell--title {
    float: left;
    width: 30%;
    text-align: left;
}

.endpoint-cell.endpoint-cell--icon {
    width: 30px;
    float: left;
    margin-right: 10px;
    font-size: 2.2em;
    color: green;
    line-height: 1em;
}

.endpoint--down .endpoint-cell.endpoint-cell--icon {
    color: #ed174c;
}


/* 
 * --- ENDPOINT STATUS ROWS ----
 */

.container--pings {
    padding-top: 10px;
}

.endpoint-pings-header {
    margin-bottom: 20px;
}

.ping-cell.ping-cell--icon {
    color: green;
}

.ping--down .ping-cell.ping-cell--icon {
    color: #ed174c;
}

.ping-cell--response-time {
    text-align: right;
}

tr.ping {
    width: 100%;
}


table.ping-list {
    width: 100%;
    border-spacing: 0;
}

table.ping-list td {
    border: 1px solid #E6E6E6;
    border-right: 0;
    border-left: 0;
    border-top: 0;
    padding: 12px 0;
}

table.ping-list tr:first-child td {
    border-bottom: 0;
}

table.ping-list tr:last-child td {
    border-bottom: 0;
}

span.endpoint-name {
    font-size: 2em;
    font-weight: 600;
}

span.status {
    font-style: italic;
    float: right;
}