/* 
 * --- STATUS ROWS ----
 */	
.status-dot {
	height: 6px;
	width: 6px;
	border-radius: 50%;
	float: left;
	margin: 7px 10px;
}

.status-row--up .status-dot {
	border: 1px solid green;
	background-color: #009400;
}

/* 
 * --- STATUS ROWS ----
 */
.endpoint {
	text-decoration: none;
	/* background-color: green; */
	color: #222;
	padding: 20px 10px;
	border-radius: 1px;
}
.endpoint:hover {
	background-color: rgb(252, 252, 252);
	cursor: pointer;
}
.endpoint.endpoint--down {
	/* background-color: #ed174c; */
}
.endpoint.endpoint--down:hover {
	/* background-color: #CA0E3D; */
}
.endpoint__title {
	font-weight: 600;
}
.endpoint__pinged-date {
	float: right;
    font-weight: 300;
	text-transform: capitalize;
}

.status-row--down .status-dot {
    background-color: #FF1010;
    border: 1px solid red;
}

.endpoint {
    display: table;
    width: 100%;
    border-bottom: 1px solid rgb(236, 236, 236);
}

.endpoint-cell.endpoint-cell--title {}

.endpoint-cell {
    display: table-cell;
    width: 20%;
    float: right;
    text-align: right;
    line-height: 1.1em;
}

span.endpoint-cell__subhead {
    font-weight: 300;
    font-size: 0.8em;
}

.endpoint-cell.endpoint-cell--title {
    float: left;
    width: 50%;
    text-align: left;
}

.endpoint-cell.endpoint-cell--icon {
    width: 20px;
    float: left;
    height: 2.2em;
    background-color: green;
    margin-right: 10px;
}

.endpoint--down .endpoint-cell.endpoint-cell--icon {
    background-color: #ed174c;
}