{% extends "base.html" %}
{% load humanize staticfiles %}

{% block styles %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "pinger/css/pinger.css" %}">
{% endblock %}

{% block scripts %}
<script src="{% static "pinger/js/pinger.js" %}" type="text/javascript" charset="utf-8" async defer></script>
{% endblock %}

{% block content %}
<div class="container container--pings">

    <div class="endpoint endpoint-pings-header endpoint--{% if object.is_up %}up{% else %}down{% endif %}">
        <i class="endpoint-cell endpoint-cell--icon fa fa-{% if object.is_up %}check-circle{% else %}times-circle{% endif %}"></i>
        <div class="endpoint-cell endpoint-cell--title">
            <span class="endpoint__title">{{ object.title }} is {% if object.is_up %}up{% else %}down{% endif %}</span><br>
            <span class="endpoint-cell__subhead">{{ object.pings.latest.created_at | naturaltime }}</span>
        </div>
        <div class="endpoint-cell">
            <span>{% widthratio object.success_rate 1 100 %}%</span><br>
            <span class="endpoint-cell__subhead">Average Uptime</span>
        </div>
        <div class="endpoint-cell">
            <span>{% widthratio object.success_rate_last_week 1 100 %}%</span><br>
            <span class="endpoint-cell__subhead">Uptime Last 7 days</span>
        </div>
        <div class="endpoint-cell">
            <span class="">{% widthratio object.success_rate_today 1 100 %}%</span><br>
            <span class="endpoint-cell__subhead">Uptime Today</span>
        </div>
    </div>

    <table class="ping-list">
        <tr>
            <td colspan="2"><b>Latest Pings:</b></td>
            <td class="ping-cell ping-cell--response-time"><b>Response Time</b></td>
        </tr>
        {% for ping in latest_pings %}
        <tr class="ping ping--{% if ping.disposition == 0 %}up{% else %}down{% endif %}">
            <td class="ping-cell ping-cell--icon"><i class="fa fa-{% if ping.disposition == 0 %}check-circle{% else %}times-circle{% endif %}"></i></td>
            <td class="ping-cell ping-cell--date">{{ ping.created_at|date:"D d M Y" }} {{ ping.created_at|time:"g:i a" }}</td>
            <td class="ping-cell ping-cell--response-time">{{ ping.response_time|floatformat:3 }} seconds</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}
