{% extends "base.html" %}
{% load humanize staticfiles %}

{% block title %}{{ object.title }} | {{ block.super }}{% endblock %}

{% block styles %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "pinger/css/pinger.css" %}">
{% endblock %}

{% block scripts %}
<script src="{% static "pinger/js/pinger.js" %}" type="text/javascript" charset="utf-8" async defer></script>
{% endblock %}

{% block content %}
{% if recent_outage %}
<header class="{{ recent_outage.updates.first.get_status_display | lower }}">
    <p>
        <a href="{% url 'outage' pk=recent_outage.id %}"><strong>Service Disruption:</strong> {{ recent_outage.title }} &raquo; <span class="duration">{{ recent_outage.duration_in_minutes }}m</span></a>
    </p>
</header>
{% endif %}
<div class="container container--endpoints">
<h3>{% if object.title == 'Public' %}nvite systems{% else %}Event pages{% endif %}:</h3>
{% for endpoint in object.endpoints.active %}
    <a href="{% url 'endpoint' slug=endpoint.slug %}">
        <div class="endpoint endpoint--{% if endpoint.is_up %}up{% else %}down{% endif %}">
            <i class="endpoint-cell endpoint-cell--icon fa fa-{% if endpoint.is_up %}check-circle{% else %}times-circle{% endif %}"></i>
            <div class="endpoint-cell endpoint-cell--title">
                <span class="endpoint__title">{{ endpoint.title }} is {% if endpoint.is_up %}up{% else %}down{% endif %}</span><br>
                <span class="endpoint-cell__subhead">{{ endpoint.pings.latest.created_at | naturaltime }}</span>
            </div>
            <div class="endpoint-cell">
                <span>{% widthratio endpoint.success_rate 1 100 %}%</span><br>
                <span class="endpoint-cell__subhead">Average Uptime</span>
            </div>
            <div class="endpoint-cell">
                <span>{% widthratio endpoint.success_rate_last_week 1 100 %}%</span><br>
                <span class="endpoint-cell__subhead">Uptime Last 7 days</span>
            </div>
            <div class="endpoint-cell">
                <span class="">{% widthratio endpoint.success_rate_today 1 100 %}%</span><br>
                <span class="endpoint-cell__subhead">Uptime Today</span>
            </div>
        </div>
    </a>
{% endfor %}
</div>
{% endblock %}
